.container-app {
	margin: 0 auto;
	padding: 32px;
}

.header-app-flex {
	display: flex;
	justify-content: space-between;
}

.logo {
	font-family: 'Satoshi-Bold';
	font-size: 28px;
	color: #26203B;
}

.header-app-btns-flex {
	display: flex;
	gap: 0px 24px;
}

.main-app-flex {
	max-height: 85vh;
	overflow: hidden;
	overflow-y: scroll;

	display: flex;
	flex-wrap: wrap;
	gap: 20px;
}

.btns-todo-item-flex {
	display: flex;
	gap: 0px 16px;
}

.todo-item {
	width: 355px;
	border-radius: 8px;
	padding: 28px 36px;
	margin-bottom: 16px;
	background-color: #ECF0FF;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.todo-item-text {
	display: flex;
	flex-direction: column;
	gap: 16px 0px;
	margin-bottom: 28px;
}

.todo-desc {
	font-family: 'Satoshi-Regular';
	font-size: 16px;
	color: #26203B;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	line-height: 130%;
}

.text-isempty {
	font-family: 'Satoshi-Medium';
	font-size: 18px;
	color: #26203B;
}

.main-app-create-form {
	width: 300px;
}

@media (max-width: 1165px) {
	.todo-item {
		width: 48%;
	}
}

@media (max-width: 680px) {
	.todo-item {
		width: 100%;
	}
}

@media (max-width: 430px) {
	.header-app-flex {
		gap: 20px 0px;
		display: flex;
		flex-direction: column;
	}
}