@import url('../fonts/satoshi.css');
@import url('./success.css');
@import url('./app.css');
@import url('./auth.css');

* {
	padding: 0;
	margin: 0;
	bottom: 0;
	box-sizing: border-box;

}

*::after,
*::before {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

:focus,
:active {
	outline: none;
}

a:focus,
a:active {
	outline: none;
}

nav,
footer,
header,
aside {
	display: block;
}

html,
body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-webkit-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	text-size-adjust: 100%;
	overflow: hidden;
}

a {
	background-color: transparent;
	text-decoration: none;
}

b,
strong {
	font-weight: bolder;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: inherit;
}

img {
	vertical-align: top;
	border-style: none;
}

a:hover {
	text-decoration: none;
}

button,
input,
optgroup,
select,
textarea {
	font-family: inherit;
	font-size: 100%;
	line-height: 1.15;
	margin: 0;
}

input,
button,
textarea {
	font-weight: inherit;
}

.h3 {
	font-family: 'Satoshi-Medium';
	font-size: 32px;
	color: #26203B;
}

.h2 {
	font-size: 40px;
	font-family: 'Satoshi-Black';
	color: white;
	margin-bottom: 18px;
}

.h4 {
	font-family: 'Satoshi-Bold';
	font-size: 24px;
	color: #26203B;
}

@media (max-width: 500px) {
	.h3 {
		font-size: 24px;
	}
}